@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;

  color: #fff;

  background-color: #000;
}

.container {
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;
}

.hide {
    display: none !important;
}

/* ----------------------------- HEADER ----------------------------- */
.header {
  width: 100%;
  padding: 36px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  width: 24px;
  height: 24px;
}

.header__nav ul {
  display: flex;
  gap: 32px;
}

.link {
  transition: all 0.1s ease-in-out;
}
.link:hover {
  color: #cdb5ff;
}
.link:active {
  color: #9563ff;
}

/* ----------------------------- BUTTON ----------------------------- */
.btn {
  padding: 7px 13px;

  border-radius: 6px;
  background-color: #621DED;
  transition: all 0.1s ease-in-out;
}
.btn:hover {
  background-color: #864ff3;
}
.btn:active {
  background-color: #5419cc;
}

/* ----------------------------- WELCOME SECTION ----------------------------- */
.welcome {
  min-height: calc(100vh - 96px);
  margin-bottom: 300px;
  text-align: center;
}

.welcome img {
  margin: 85px 0;
  width: 127px;
  height: 127px;
}

.welcome h1 {
  margin-bottom: 12px;
  font-size: 64px;
  line-height: 1.25;
}

.welcome h2 {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 1.5;
}

.welcome a {
  display: inline-block;
  padding: 15px;
}

/* ----------------------------- FOOTER ----------------------------- */
.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer li + li {
  margin-top: 15px;
}

.footer__copy .logo {
  margin-bottom: 15px;
}

.footer__copy > p {
  font-size: 13px;
  line-height: 1.5;
}