@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;

  color: #fff;

  background-color: #000;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

section {
  margin-bottom: 250px;
}

.hide {
    display: none !important;
}

/* ----------------------------- HEADER ----------------------------- */
.header {
  width: 100%;
  padding: 36px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  width: 24px;
  height: 24px;
}

.header__nav ul {
  display: flex;
  gap: 32px;
}

.link {
  transition: all 0.1s ease-in-out;
}
.link:hover {
  color: #cdb5ff;
}
.link:active {
  color: #9563ff;
}

/* ----------------------------- BUTTON ----------------------------- */
.btn {
  padding: 7px 13px;

  border-radius: 6px;
  background-color: #621DED;
  transition: all 0.1s ease-in-out;
}
.btn:hover {
  background-color: #864ff3;
}
.btn:active {
  background-color: #5419cc;
}

/* ----------------------------- WELCOME SECTION ----------------------------- */
.welcome {
  min-height: calc(100vh - 96px);
  text-align: center;
}

.welcome img {
  margin: 85px 0;
  width: 127px;
  height: 127px;
}

.welcome h1 {
  margin-bottom: 12px;
  font-size: 64px;
  line-height: 1.25;
}

.welcome h2 {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 1.5;
}

.welcome a {
  display: inline-block;
  padding: 15px;
}


/* ----------------------------- VIDEOS ----------------------------- */
.title-wrapper {
  width: 850px;
  text-align: center;
}

.videos .title-wrapper {
  text-align: left;
}

.title-wrapper h2 {
  font-size: 42px;
  line-height: 1.25;
}

.title-wrapper h3 {
  margin-top: 11px;
  font-size: 24px;
  line-height: 1.5;
}

.videos-wrapper {
  margin-top: 90px;
}

.videos-wrapper ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 128px;
}

.videos-wrapper li {
  width: 490px;
}

.videos-wrapper li:nth-child(2n):not(.not-ready) {
  margin-top: 150px;
}

.videos-wrapper li h3 {
  margin-top: 32px;
  font-size: 24px;
  line-height: 1.5;
}

.videos-wrapper li p {
  margin-top: 9px;
  font-size: 17px;
  line-height: 1.5;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 490px;
  height: 270px;
  background: #13151B;
  border-radius: 20px;
}

.small-video {
  height: 270px;
}

.big-video {
  height: 470px;
}

.circle {
  display: inherit;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background: rgba(8, 9, 13, 0.8);
  border-radius: 1000px;
}

.not-ready .yet {
  text-align: center;
  max-width: 103px;
  padding: 8px 2px;
  font-size: 13px;
  background: rgba(98, 29, 237, 0.2);
  border-radius: 50px;
  color: #A37BF4;
}

.videos-wrapper .not-ready h3 {
  margin-top: 7px;
}


/* ----------------------------- DESIGNED FOR MACOS ----------------------------- */
.designed .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.designed img {
  margin-top: 31px;
  width: 480px;
  height: 125px;
}


/* ----------------------------- USER COMMENTS SECTION ----------------------------- */
.comments .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}

.comments .comments-wrapper {
  display: flex;
  gap: 20px;
}

.comments-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comments p {
  font-size: 17px;
  line-height: 1.5;
}

.comments .comment {
  width: 520px;
  padding: 30px;
  background: #13151B;
  border: 1px solid #1B1E26;
  border-radius: 6px;
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user img {
  margin-right: 8px;
  width: 48px;
  height: 48px;
}

.user .username::before {
  content: "@";
}

.comments .note {
  font-size: 13px;
}


/* ----------------------------- PLANS ----------------------------- */
.plans .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plans-wrapper {
  margin-top: 65px;
  display: flex;
  gap: 32px;
}

.plan {
  width: 365px;
  height: 570px;
  padding: 50px;
  display: flex;
  flex-direction: column;

  border-radius: 6px;
  background: #13151B;

  transition: box-shadow 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
              transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.plan:hover {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
  transform: scale(1.02);
}

.plan__name {
  font-size: 24px;
}

.plane__price {
  margin-top: 9px;
  font-size: 50px;
}

.plan__price-note {
  margin-top: 7px;
  font-size: 17px;
  line-height: 1.5;
}

.plan__inclusions {
  margin-top: auto;

  list-style-image: url('../images/inclusions-list-item.png');
}

.plan__inclusions li {
  margin-top: 7px;
  padding-left: 10px;
}

.btn-dark {
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.06);
}
.btn-dark:hover {
  background: rgba(255, 255, 255, 0.1);
}
.btn-dark:active {
  background: rgba(255, 255, 255, 0.05);
}

.plans .btn {
  margin-top: 44px;
  width: 267px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
}

.extented-plan {
  border: 1px solid rgba(98, 29, 237, 0.2);
  box-shadow: 0px 0px 60px rgba(98, 29, 237, 0.2);
}
.extented-plan:hover {
  box-shadow: 0px 0px 30px rgba(191, 159, 255, 0.2);
}

.extented-plan .plan__name {
  color: #A37BF4;
}



/* ----------------------------- FOOTER ----------------------------- */
.footer {
  margin-bottom: 70px;
}

.footer .container {
  display: flex;
  justify-content: flex-start;
  gap: 230px;
}

.footer li + li {
  margin-top: 15px;
}

.footer__copy .logo {
  margin-bottom: 15px;
}

.footer__copy > p {
  font-size: 13px;
  line-height: 1.5;
}